# Byte-compiled / optimized / DLL files
__pycache__/

# VS Code
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Dataset
data/test_images/
data/train_images/
data/sample_submission.csv
data/train.csv